<h1>Your spending on <%= params[:tag] %>:</h1>

<% @transactions.each do |transaction| %>
<p>Amount: £<%= '%.2f' % transaction.cost %></p>
<p>Merchant: <%= transaction.merchant %></p>
<hr  />
<% end %>
<p>Total spent on <%= params[:tag]%> = £<%= '%.2f' % @transactions.map{|transaction| transaction.cost.to_f}.inject(0, :+)%></p>
<hr  />
<a href="/transaction/new">Add a new transaction</a>
<a href="/">View your budget</a>