<h1>TRANSACTIONS</h1>

<% @transactions.each do |transaction| %>
<p>Amount: £<%= '%.2f' % transaction.cost %></p>
<p>Merchant: <%= transaction.merchant %></p>
<p>Goods purchased: <a href="/transactions/search/<%= transaction.tag%>"><%= transaction.tag %></a>
</p>
<hr  />
<form action="/transactions/<%= transaction.id%>/delete" method="POST">
<input type="submit" value="Delete this transaction"></form>
<p><a href="/transactions/<%= transaction.id%>/edit">Edit this transaction</a></p>
<hr  />
<% end %>

<p>Current total expenditure: £<%= '%.2f' % (@total.to_f) %></p>

<a href="/transaction/new">Add a new transaction</a>
<a href="/">View your budget</a>