<h1>Your Search Results</h1>

<table><tr>
<th>Date:</th><th>Amount:</th><th>Merchant:</th><th>Goods purchased:</th></tr>
  <% @transactions.each do |transaction| %>  
  <tr><td><%= transaction.date_bought %></td>
    <td>£<%= '%.2f' % transaction.cost %></td>
    <td><%= transaction.merchant %></td>
    <td><a href="/transactions/search/<%= transaction.tag%>"><%= transaction.tag %></a></td>

    <td><form action="/transactions/<%= transaction.id%>/delete" method="POST">
      <input class = "button" type="submit" value="Delete this transaction">
      </form>
      <p><a class = "edit" href="/transactions/<%= transaction.id%>/edit">Edit this transaction</a></p>
      </td></tr>
      <% end %>
      <hr  />
 