<h1>Transaction #<%= @transaction.id %></h1>

<p>Date: <%= @transaction.date_bought %></p>
<p>Amount: £<%= '%.2f' % @transaction.cost %></p>
<p>Merchant: <%= @transaction.merchant %></p>
<p>Goods purchased: <%= @transaction.tag %></p>
<hr  />
<a class = "edit" href="/transactions/<%= @transaction.id %>/edit">Edit this transaction</a
